*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f5f7fa;
}

header{
    background: linear-gradient(135deg,#667 0%, #764ba2 100% );
    color: white;
    text-align: center;
    padding: 4em 2rem;
}

header h1{
    font-size: 3.5rem;
    opacity: 0.9;
    font-family: "Dancing Script", cursive;
 font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

header p{
    font-size: 1.3rem;
    opacity: 0.9;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

section{
    margin: 4rem 0;
    background: white;
    padding: 2.5rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
}

h2{
    color: #4a5568;
    margin-bottom: 1.5rem;
    border-bottom: 3px solid #667eeA;
    padding-bottom: 0.5rem;
    display: inline-block;
}

ul{
    list-style: none;
}

ul li{
    margin: 1rem 0;
    font-size: 1.1rem;
    gap: 1.8rem;
    display: inline-block;
    list-style: none;
   padding: 30px;
   margin: 40px; 
    
   
}

ul li:hover{
    background-color: #667eeA;
    transition-duration: 1s;
    box-shadow: rgba(46, 169, 240, 0.4) -5px 5px, rgba(46, 169, 240, 0.3) -10px 10px, rgba(46, 169, 240, 0.2) -15px 15px, rgba(46, 169, 240, 0.1) -20px 20px, rgba(46, 169, 240, 0.05) -25px 25px;
}


ul li::before{
    color: #667eea;
    font-weight: bold;
}

footer{
    text-align: center;
    padding: 2rem;
    color: #718096;
    margin-top: 3rem;
    border-top: 3px solid #e2e8f0;
}
